.cardIncluso{
    background: white;
    border-radius: 5px;
    margin-bottom: 4%;
}

.cardIncluso .areaImagem{
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 0!important;
    text-align: center;
}

.cardIncluso h4{
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: 700;
    color: #898989;
}

.cardIncluso p{
    margin-top: 0;
    font-weight: 500;
    line-height: 23px;
    color: #898989;
    font-size: 0.8rem;
}

.cardIncluso .card--valor{
    font-size: 1.2rem;
    color: #5100ff;

}