.css-u1qkm1-MuiTypography-root{
    line-height: 4.5rem!important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
    color: rgba(0,0,0,.5)!important;
    font-size: 1.5rem!important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    background: white!important;
}

.css-1w8yruj-MuiInputBase-root-MuiFilledInput-root{
    background: white!important;
}

.css-ahj2mt-MuiTypography-root{
    font-family: 'Inter'!important;
}

.titlePatternOne{
    font-weight: 600!important;
    line-height: 1.5!important;
    margin-bottom: 1rem!important;
    font-size: 2rem!important;
    color: #5100ff;
}
