
.MuiFilledInput-root{
    background: white!important;
}

.MuiFilledInput-input{
    font-family: 'Inter'!important;
    color: rgba(0,0,0,.5)!important;
    font-size: 1.2rem!important;
}

.MuiFormControlLabel-root{
    color: rgba(0,0,0,.5)!important;
}

.MuiFilledInput-root:after{
    border-color: #5100ff!important;
}

.Mui-focused{
    color: #5100ff!important;
}

.titlePatternOne{
    font-weight: 600!important;
    line-height: 1.5!important;
    margin-bottom: 1rem!important;
    font-size: 2rem!important;
    color: #5100ff;
}

.MuiTypography-subtitle1{
    color: rgba(0,0,0,.5)!important;
    font-size: 1.1rem!important;
}