footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

footer .footer--button{
    width: 100%!important;
    text-align: center;
}

footer button{
    background: #5100ff!important;
    color: white!important;
    font-weight: 700!important;
    border-radius: 0 30px 30px 30px!important;
    width: 100%!important;
    
}

footer .buttonWithBack{
    width: 100%!important;
}

footer svg{

    color: white
}

footer .Mui--itemBack{
    align-self: center;
    justify-content: flex-start;
    display: flex;
    transition: all ease 5s;
    padding-left: 15px;
}