.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root{
    color: #898989!important;
    font-family: 'inter'!important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input{
    background: white!important;
}