@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');

body{
  margin: 0;
  box-sizing: border-box;
  background: black;
}

a{
  text-decoration: none;
}

p, span, button, div, h1, h2, h3, h4, h5, h6, input, select, a{
  font-family: 'inter';
}

@media (max-width: 414px){
  body{
    background: #f8f5ef;
  }
}